{% extends 'base.html' %}

{% block head %}
<title>Hotel Page</title>
{% endblock %}

{% block body %}

<div id="indexbody" class="container-fluid">

    <!--second  Header -->
    <div class=" border mt-2 p-1 rounded-top " style="background-color: chocolate;">
        <div class="row">            
            <div class="col-md-6">
                <h4 class="text-light p-2"><strong>Top Hotel in Orlando, Florida, USA</strong></h4>
            </div>         
           
        </div>
    </div>
    
<!--Third row -->
    
    <div class="border border-danger rounded mb-3">
        <div class="row">
            
            <div class="col-md-9">
                <div class="card mb-3 pt-2 ps-3 border-0" style="max-width: 1200px;">
                    <div class="row g-0">
                       
                        <div class="col-md-4">
                            
                                <div class="row">
                                    <img src="{{ hotelDataById.hImage }}" class="img-fluid rounded-start w-100">
                                </div>
                                <div class="row p-3">
                                    <!-- Carousel  -->
                                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                                                aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                                aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                                aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <image src="{{url_for('static',filename = 'img/home.jpg')}}" class="d-block w-100"></image>
                                               
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Radisson Blu</h5>
                                                    <p>Situated on seven acres of lush gardens in the heart of Dhaka's primary commercial hub.</p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <image src="{{url_for('static',filename = 'img/1.jpg')}}" class="d-block w-100"></image>
                                                
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>Sayeman Beach Resort</h5>
                                                    <p>The illustrious lifestyle destination offers 228 guest rooms, including 16 Panorama Ocean Suites
                                                        with 180-degree view of the Bay of Bengal.</p>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <image src="{{url_for('static',filename = 'img/2.jpg')}}" class="d-block w-100"></image>
                                               
                                                <div class="carousel-caption d-none d-md-block">
                                                    <h5>InterContinental Dhaka</h5>
                                                    <p>Located in the prestigious downtown business district, InterContinental Dhaka is the foremost
                                                        name of luxury.</p>
                                                </div>
                                            </div>
                                            
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                           </button>
                                        </div>
                                    </div>

                                </div>
                          
                            
                            
                        </div>
                        
                        <div class="col-md-8">
                            <div class="card-body" style="padding-top: 0px;">
                                
                                <p><b>{{hotelDataById.hType}}</b></p>
                               
                                <h4 class="card-title"><b>{{hotelDataById.hName}}</b></h4>
                               
                                <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                  </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                    <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                                  </svg><small>{{hotelDataById.hReview}} Reviews</small></p>
                                
                                <p>
                                    <small>
                                        <i class="fas fa-user-friends"></i>&nbsp;&nbsp;<span>{{hotelDataById.hGuests}}
                                            Guests</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fas fa-bed">&nbsp;&nbsp;</i><span>{{hotelDataById.hBedRooms}}
                                            Bedrooms</span>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fas fa-moon">&nbsp;&nbsp;</i><span>1 Night Min.Stay</span>
                                    </small>
                                </p>
                                
                                <p>
                                    <small>
                                        {% for feature in hotelDataById.hFeatures %}
                                        <span>{{feature}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        {% endfor %}
                                    </small>
                                </p>
                                
                                <p id="descriptionText" class="card-text">
                                    <small>
                                        {{hotelDataById.hDescription | safe }}
                                    </small>
                                </p>
                                <button type="button" id="readDetails" class="btn btn-danger"
                                    onclick="Readfunction()">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="col-md-3 border border-secondary border-top-0 border-end-0 border-bottom-0 mt-3 mb-3">
                <div class="row">
                    <p class=" mb-2">From</p>
                </div>
               
                <div class="row">
                    <h4><b>৳ <span>{{ hotelDataById.hCost }}</span>/night</b></h4>
                    <hr class="mt-3 ms-3 mx-auto" style="width: 350px;">
                </div>
                <div class="row">
                    <p><small>Enter guests number for accurate pricing</small></p>
                </div>
                
                <div class="row border  ms-1" style="width: 350px;">
                    <p class="p-2 mb-0">
                        <i class="fas fa-user-friends">&nbsp;&nbsp;&nbsp;</i>Guests
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i id="case-increase" class="fas fa-plus cursoR"></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span id="case-count">1</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i id="case-decrease" class="fas fa-minus cursoR"></i>
                    </p>
                </div>
                
                <div class="row">
                    <a href="https://www.booking.com/" target="_blank" style="text-decoration: none;">
                        <button type="button" class="btn btn-success ms-2 mt-4" style="width: 350px;">
                            <b>CHECK AVAILABILITY</b>
                        </button>
                    </a>
                </div>
                
                <div class="row">
                    <p class="mt-3 ps-0 text-center">
                        <small>You will be redirected to
                            <a href="https://www.booking.com/" target="_blank"
                                style="text-decoration: none;">Booking.com</a>
                        </small>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!-- Second part -->

   
    <div>
        <h5 class="text-danger pt-3"><b>Orlando (FL) has 49 Vacation Rentals and Resorts</b></h5>
    </div>




   
    
    <!-- Card Image  -->
    <div class="row">
        <div class="card-group p-3">

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage1 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Florida’s Most Room to Explore</b>
                        </small>
                    </h6>
                    <p>
                        <small>754 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage2 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Florida’s Universal's Hard Rock Hotel®</b>
                        </small>
                    </h6>
                    <p>
                        <small>658 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage3 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Universal's Loews Sapphire Falls Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>963 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage4 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Book a home with flexibility.</b>
                        </small>
                    </h6>
                    <p>
                        <small>894 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info">View Details</button>
                </div>
            </div>

            <div class="card p-3">
                <img src="{{ allHotelImages.hotelImage5 }}" class="card-img-top img-fluid cardImg" />
                <div class="card-body">
                    <h6 class="card-title">
                        <small>
                            <b>Universal's Cabana Bay Beach Resort</b>
                        </small>
                    </h6>
                    <p>
                        <small>951 Reviews</small>
                    </p>
                    <p>
                        <small>
                            <span>Air Conditioner</span>&nbsp;&nbsp;&nbsp;
                            <span>Breakfast</span>&nbsp;&nbsp;&nbsp;
                            <span>Internet</span>
                        </small>
                    </p>
                    <button type="button" class="btn btn-outline-info">View Details</button>
                </div>
            </div>

        </div>
    </div>
    

</div>
{% endblock %}